
.dayCol {
  display: flex;
  flex-direction: column;
}

.dayHead {
  height: 64px;
  background: lightblue;
}

.dayHour {
  height: 64px;
  background: lightgreen;
  border: solid 1px black;
}

.dayHourBusy {
   height: 64px;
  background: red;
    border: solid 1px black;
}

.dayWrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}