
.dayCol {
  display: flex;
  flex-direction: column;
}

.dayHead {
  height: 72px;
  padding: 8px;
  background: #719AD0;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.dayHead:hover {
  background-color: #4b7fc3;
}

.dayHead:focus {
  background-color: #3d72b8;
}

.dayEmpty {
  height: 66px;
}

.dayDate {
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background: white;
  color: #719AD0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:8px;
  left: calc(50% - 14px)
}

.dayHour {
  height: 16px;
  background: #AFEDC9;
  box-shadow: inset 0.25px 0 0 0 #20BC62, inset -0.25px 0 0 0 #20BC62, inset 0 0.5px 0px 0px #20BC62;
  color: transparent;
}

.daySubHour {
  height: 16px;
  background: #AFEDC9;
  box-shadow: inset 0.25px 0 0 0 #20BC62, inset -0.25px 0 0 0 #20BC62;
  color: transparent;
}


.dayTime {
  height: 16px;
  text-align: right;
  padding-right: 4px;
  color: #121619;
}
.dayHourBusy {
  height: 16px;
  background: #ff9497;
    color: transparent;

}

.daySubHourBusy {
  height: 16px;
  background: #ff9497;
    color: transparent;

}

.dayHourFriendBusy {
  height: 16px;
  background: #ff9497;
    color: transparent;

}

.daySubHourFriendBusy {
  height: 16px;
  background: #ff9497;
    color: transparent;

}

.daySubHourOverlapBusy {
  height: 16px;
  background: #d76b70;
    color: transparent;
}

.dayHourOverlapBusy {
  height: 16px;
  background: #d76b70;
    color: transparent;
}

.dayHour:hover, .daySubHour:hover, .dayHourBusy:hover, .daySubHourBusy:hover, .dayHourFriendBusy:hover, .daySubHourFriendBusy:hover, .daySubHourOverlapBusy:hover, .dayHourOverlapBusy:hover {
  color: #121619;
}  

.dayWrapper {
  display: grid;
  grid-template-columns: 9% 13% 13% 13% 13% 13% 13% 13%;
}

.container {
  font-family: 'Avenir';
  width: 95%;
  padding: 24px 0 24px;
}

.sendInvite {
  background-image: url("./paper-plane.svg");
  height: 64px;
  width: 64px;
  background-size: 36px;
  background-position: top 50% right 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  background-color: #719AD0;
  position: fixed;
  bottom: 24px;
  right: 24px;
  outline: none;
  transition: all 0.3s ease;
}

.addEvent {
  background-image: url("./plus.svg");
  height: 64px;
  width: 64px;
  background-size: 36px;
  background-position: top 50% right 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  background-color: #719AD0;
  position: fixed;
  bottom: 24px;
  left: 24px;
  outline: none;
  transition: all 0.3s ease;
}

.addEvent:hover {
  background-color: #4b7fc3;
}

.addEvent:focus {
      background-color: #3d72b8;
}

.sendInvite:hover {
  background-color: #4b7fc3;
}

.sendInvite:focus {
      background-color: #3d72b8;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  position: absolute;
  background: white;
  min-height: 164px;
  width: auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}


.modalBackdropAdd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainerAdd {
  position: absolute;
  background: white;
  min-height: 220px;
  width: auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.navBar {
  padding: 8px 24px 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: black;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto;
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  background-image: url("./Close.svg");
  height: 32px;
  width: 32px;
  border-radius: 100%;
  outline: none;
  border: none;
  background-size: 16px;
  background-position: top 50% right 50%;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(1,1,1,0.1);
}

.closeButton:focus {
  background-color: rgba(1,1,1,0.2);
}

.copyButton {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);

  height: 32px;
  border-radius: 8px;
    background-color: #719AD0;
      font-family: 'Avenir';
      font-weight: bold;
      font-size: 16px;
      color: white;
      border: none;
      outline: none;
      transition: all 0.3s ease;
}

.copyButton:hover {
  background-color: #4b7fc3;
}

.copyButton:focus {
      background-color: #3d72b8;
}

